/* Weather.jsx */

#location_input, #location_span, #title{
  position: relative;
  width: 200px;

  top: 150px;
  left: 40%;
}

#location_input{
  height: 30px;

  border-radius: 10px;
}

#location_span{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 200px;

  margin-top: 20px;

  border-radius: 10px;
  border: 3px solid gray;
}

#location_name{
  margin : 0%;
  font-size: 40px;
}

#location_temperate{
  margin : 0%;
  font-size: 70px;
}

#location_weather{
  margin : 0%;
  font-size: 30px;

  text-align-last: right;
}
